body {
    background-color: #e9e9e9;
}

.grid-container {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: #b9b9b9 0px 0px 10px 2px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grid-unit {
    border: 1px solid black;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
}

.grid-unit:hover {
    background-color: #7a7a7a;
}

.colored-grid-unit {
    background-color: black;
}

button {
    background-color: #3187ff;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    cursor: pointer;
}
